/* REQUIRED FOR IT TO WORK
 set custom styles in style.css or own stylesheet
 */
.expandable
{
    position: relative;
    width: 100%;
    clear: both;
    display: block;
    font-size: 18px;
    line-height: 24px;
    overflow: hidden;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    height: 0;

}
.expandable .close
{
    position: absolute;
    top: 0;
    right: 0;
    transition: none;
    -ms-transform: none;
}

.expandable .wrapper
{
    float: left;
    width: 100%;
    display: block;
    margin: 32px 0 20px 0;
    padding: 0 0 33px 0;
}

.expandable.expanded
{
    height: auto !important;
}
